.authorization-div {
  .MuiPaper-root {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 5px 20px;
    margin: 0 auto 40px auto;
    box-shadow: 0 0 10px 0px;
  }
}

.snack {
  &.error {
    .MuiSnackbarContent-root {
      background-color: #d44136 !important;
    }
  }

  &.warning {
    .MuiSnackbarContent-root {
      background-color: #f09918 !important;
    }
  }

  &.success {
    .MuiSnackbarContent-root {
      background-color: #4caf50 !important;
    }
  }

  &.info {
    .MuiSnackbarContent-root {
      background-color: #1d6daf !important;
    }
  }
}

.MuiAppBar-colorPrimary {
  width: 100% !important;
}

.MuiListItemIcon-root {
  min-width: 40px !important;
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.auth-form {
  display: flex;
  flex-direction: column;

  .MuiFormGroup-root {
    flex-direction: initial;
    justify-content: space-around;
    margin: 0 30px;
  }

  .with-top {
    margin-top: 15px;
  }

  &__btn-wrapper {
    position: relative;

    .btn-progress {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }
  }
}

.company-content {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 600px;
}

.tables-module {
  margin: 0 auto;

  .MuiTableContainer-root {
    height: 420px;

    .MuiTableRow-root {
      cursor: pointer;

      .MuiTableCell-root {
        padding: 15px;
      }
    }
  }

  .bars {
    height: 350px;

    .half {
      width: 50%;
    }
  }
}

.info-module {
  width: 600px;
  height: calc(100vh - 128px) !important;
  margin: auto;
  padding: 20px;
  background-color: floralwhite;
  height: calc(100% - 2 * 64px);
  box-shadow: 0 0 15px 0px;

  &_fio {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
  }

  &_useful {
    margin: 40px;

    .cancel {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.table_profile {
  width: 100%;
  text-align: left;
  font-size: 20px;

  .small-col {
    width: 25%;
  }
}

.link {
  color: #999999;
  margin: 10px auto;
}

.auth-input {
  margin: 5px auto;
  width: 100%;
}

.auth-button {
  margin: 10px auto !important;
}