@import "../App.scss";

.menu {
  width: 250px;
  background-color: rgb(129, 182, 243);
  height: calc(100vh - 128px);
  color: $osn;
  display: flex;
  text-shadow: white 0 0 5px;

  &-div {
    margin: auto 0;
    width: 100%;
  }

  .MuiSvgIcon-root {
    color: $osn;
  }

  .MuiList-root {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .MuiTypography-root {
    font-weight: bold;
  }
}

.header-div {
  justify-content: space-between;

  .company-name {
    width: 100%;
    text-align: left;

    &_logo {
      width: 120px;
      margin-left: 41px;
    }
  }

  .profile-btn {
    color: white;
    margin-left: 24px;
  }
}

.MuiListItemIcon-root {
  min-width: 35px !important;
}

.pointer {
  .MuiOutlinedInput-input {
    cursor: pointer;
  }
}

.project-info-modal {
  width: 800px;
  min-height: 300px;
  background-color: white;
  padding: 5px 20px;
  top: calc(50vh - 350px) !important;
  left: calc(50vw - 400px) !important;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}

.filter {
  top: 40px !important;
  left: 32px !important;

  .MuiPopover-paper {
    width: 250px;
    padding: 0 15px;
  }

  .input {
    margin-top: 10px;
  }

  p {
    margin: 10px 0 5px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  a {
    color: white;
  }

  .footer-div {
    width: 100%;
    justify-content: space-around;
  }
}