$main: #3f51b5;
$osn: darkslateblue;
$fon: papayawhip;

body {
  min-width: 100%;
}

.App {
  min-height: calc(100vh - 2px);
  max-width: 100vw;
  text-align: center;
  background-color: $fon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.cols {
  justify-content: space-around;
}

.not-first {
  margin-left: 10px;

  &-input {
    margin-left: 5px !important;
  }
}

.first-input {
  margin-right: 5px !important;
}

.row {
  display: flex;
}

.center-item {
  margin: auto;
}

.app-content {
  width: 100%;
}

.without_margins {
  margin: 0;
}

.link-btn {
  text-decoration: none;
  color: $main;
  margin: 10px auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
